*.build
*.pbxuser
*.mode1v3
*.ncb
*.suo
*.user
*.xcuserstate
*.pyc
.DS_Store
Debug
Release
xcuserdata
CatchSelfTest.xcscheme
Breakpoints.xcbkptlist
UpgradeLog.XML
projects/VS2010/TestCatch/_UpgradeReport_Files/
projects/VS2012/TestCatch/TestCatch.sdf
projects/XCode4/iOSTest/Build/Intermediates/PrecompiledHeaders
projects/XCode4/iOSTest/Build/Products/Debug-iphonesimulator/iOSTest.app.dSYM/Contents/Resources/DWARF
projects/XCode4/iOSTest/Build
projects/XCode4/CatchSelfTest/DerivedData
projects/XCode4/OCTest/DerivedData
projects/XCode4/iOSTest/DerivedData
